{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <div class="d-flex justify-content-flex-start">
    <div class="shifted-left">
      <h3> patient: {{patient_fullname}}</h3>
      <h3> id: {{patient_id}}</h3>
    </div>
  </div>
  <h2> Diseases </h2>

    <div class="d-flex justify-content-center">
      <form action="/diseases" method="post" id="diseases_form" class="patient_form">
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="disease_name" placeholder="disease name" type="text" id="disease_name">
          </div>
         <div class="form-group">
           <textarea autocomplete="off" autofocus class="form-control" name="disease_description" placeholder="disease description" type="text" id="disease_description"></textarea>
          </div>
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="disease_date_of_diagnosis" placeholder="date of diagnosis" type="text" id="disease_date_of_diagnosis">
         </div>
         <div class="form-group">
           <div class="d-flex justify-content-flex-start">
             <input autocomplete="off" autofocus class="form-control" name="disease_end_of_treatment" placeholder="final date of treatment" type="text" id="disease_end_of_treatment"><label>*</label>
           </div>
         </div>
         <!-- Medication -->
         <div class="form-group">
           <label class="medication_name_label">Type the name of medication</label>
           <div class="d-flex justify-content-flex-start">
             <input autocomplete="off" autofocus class="form-control" name="disease_medication_input_name" placeholder="medication name" type="text" id="disease_medication_input_name"><label>*</label>
           </div>
           <select name="disease_medications_options" id="disease_medications_options">
             <option disabled selected>No matches</option>
           </select>
         </div>
         <div class="form-group">
             <div class="d-flex justify-content-flex-start">
               <input autocomplete="off" autofocus class="form-control" name="disease_medication_dosage" placeholder="medication dosage" type="text" id="disease_medication_dosage"><label>*</label>
             </div>
         </div>
         <div>
           <label>* - optional</label>
          </div>
          <button class="btn btn-primary client_form_button" type="submit" id="disease_button">Submit</button>
      </form>
     </div>

      <!-- Medication -->
      <div class="d-flex justify-content-center" id="add_disease_medication_div">
         <div>
           <h3> Haven't found medication? Add one!</h3>
           <form action="/diseases_medications" method="post" id="diseases_medication_form" class="patient_form">
             <div class="form-group">
               <input autocomplete="off" autofocus class="form-control" name="disease_medication_name" placeholder="medication name" type="text" id="disease_medication_name">
               <textarea autocomplete="off" autofocus class="form-control" name="disease_medication_description" placeholder="medication description" type="text" id="disease_medication_description"></textarea>
               <button class="btn btn-secondary" id="disease_medication_button">Add medication</button>
             </div>
           </form>
         </div>
      </div>

    <div class="skip">
      <a href="/allergies">Skip</a>
    </div>
     <div class="skip">
      <a href= "{{'/patient/%s'%patient_id}}">To patient's page</a>
    </div>

    <!-- Modal window warning -->
         <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#diseases_warning" id="modal_warning_diseases">
      Launch
    </button>

    <!-- Modal -->
    <div class="modal fade" id="diseases_warning" tabindex="-1" aria-labelledby="diseases_warning" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="diseases_warning_label">Warning</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul id="diseases_message"></ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      // If medication that a user wants to add already exists
      document.querySelector("#disease_medication_button").addEventListener("click", (event)=> {
        event.preventDefault();
        $.ajax({
          type: "POST",
          url: '/diseases_medications',
          data: $('#diseases_medication_form').serialize(),
          success: function(response) {
            if (response['message'] == "medication already exists") {
              document.querySelector("#diseases_message").innerHTML = `<li class="red">${response['message']}</li>`;
              document.querySelector("#modal_warning_diseases").click();
            }
          }
        });
      });

      document.querySelector("#disease_medication_input_name").addEventListener("keyup", ()=> {
          $.ajax({
            type: "GET",
            url: '/diseases_medications',
            data: $('#disease_medication_input_name').serialize(),
            success: function(response) {
              const options = document.querySelector('#disease_medications_options');
              options.innerHTML = "";
              if (response[0]['name'] == "No matches") {
                options.innerHTML += `<option>${response[0].name}</option>`;
              } else {
                for (let i in response) {
                  options.innerHTML += `<option value=${response[i].id}>${response[i].id}, ${response[i].name}</option>`;
                }
              }
            }
          });
      });
    </script>
{% endblock %}


