{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <div class="d-flex justify-content-flex-start">
    <div class="shifted-left">
      <h3> patient: {{patient_fullname}}</h3>
      <h3> id: {{patient_id}}</h3>
    </div>
  </div>
  <h2> Would you like to add another <span class="data_type">{{current_section}}</span>?</h2>
  <div class="d-flex justify-content-center">
    <a class="redirection_link_confirmation" href={{link_back}}>Yes</a>
    <a class="redirection_link_rejection" href={{link_forward}}>No</a>
  </div>

    <!-- End -->
{% endblock %}
