{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Are you a medical worker? Join us! </h1></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 order-2 order-md-1 d-flex justify-content-center">
                <div>
                   <img src="../static/images/doctor.jpg" alt="a female doctor" id="main-image">
                </div>
                <div>
                   <img src="../static/images/doctor2.jpg" alt="a female doctor" id="main-image-mobile-screens">
                </div>
            </div>
            <div class="col-md-6 col-xs-12 order-1 order-md-2 d-flex justify-content-center">
                <div>
                    <form action="/register" method="post" id="register_form">
                        <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="text" id="register_username">
                         </div>
                         <div class="form-group">
                             <input autocomplete="off" autofocus class="form-control" name="password" placeholder="password" type="password" id="register_password">
                         </div>
                         <div class="form-group">
                             <input autocomplete="off" autofocus class="form-control" name="password_confirmation" placeholder="repeat password" type="password" id="register_password_confirmation">
                         </div>
                         <div class="form-group">
                              <input autocomplete="off" autofocus class="form-control" name="fullname" placeholder="full name" type="text" id="register_fullname">
                         </div>
                         <div class="form-group">
                            <label for="gender">Gender</label>
                            <select name="gender" id="register_gender">
                                <option value="male">male</option>
                                <option value="female">female</option>
                            </select>
                          </div>
                         <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="age" placeholder="age, years" type="number" id="register_age">
                         </div>
                         <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="experience" placeholder="experience, years" type="number" id="register_experience">
                         </div>
                         <div class="form-group">
                            <input autocomplete="off" autofocus class="form-control" name="specialty" placeholder="specialty" type="text" id="register_specialty">
                         </div>
                         <button class="btn btn-primary" type="submit" id="register_button">Register</button>
                    </form>

                     <!-- Modal window - warning-->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registration_warning" id="modal_warning">
                      Launch
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="registration_warning" tabindex="-1" aria-labelledby="registration_warning" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="registration_warning_label">Registration</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <ul id="register_message"></ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- End-->

                </div>
            </div>
        </div>
    </div>
{% endblock %}
